src/__pycache__/extremecorrection.cpython-312.pyc
/Data/
Data/Precipitation_NZ/ds_hist_andrea.nc
Data/Precipitation_NZ/ds_sims_5000years_andrea.nc
Data/DatosHs_SS/LWT_ss_sim.nc
Data/DatosHs_SS/FWT_Hs_sim.nc


